<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my Personal Web</title>
    <link rel="icon" href="assets/images/34464790.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    
</head>
<body>
    <body>
        <nav>
          <div class="nav-left">
            <img src="https://dumbways.id/assets/images/brandred.png" alt="logo-DW" width="10%" />
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a style="margin-top: 20px;" href="/myproject">Add Project</a>
              </li>
            </ul>
          </div>
          <div class="nav-right">
            <a href="/contact">Contact Me</a>
          </div>
        </nav>

        <div>
          <section>
            <div class="bagian-kiri">
              <h1>Hello!</h1>
              <h1 style="font-size: 30px;" >Welcome to my Personal Web</h1>
              <p style="margin-top: 40px;">Seorang siswa bootcamp di PT. DumbWays Indonesia. Memiliki pengalaman dalam pengolahan konten di website dan media sosial. Dengan daya kreativitas dan keterampilan menulis yang baik, mampu menyusun artikel, iklan, poster, dan pengumuman yang menarik.</p>
              <div>
                <a href="https://wa.me/081286311715" style="border: 1px solid black; border-radius: 15px; padding:7px 25px; font-family:Arial, Helvetica, sans-serif; color: whitesmoke; background-color: black; text-decoration: none; margin-right: 20px">Contact</a>
                <a href="https://drive.google.com/file/d/1B_wKI13VJIjjPPtyAlBfYzWtZC_i_Qmr/view" style="color:rgb(10, 10, 10); display: inline; text-decoration: none; font-family: arial; font-weight: bold;">Download CV<img src="assets/images/download.png" alt="download" style="width: 20px; margin-left: 10px; margin-right: 10px"></a>
                <div class="logo-sosmed">
                  <a class="social-media-icon" href="https://www.facebook.com/m.fernanda.737"><span class="fab fa-facebook"></span></a>
                  <a class="social-media-icon" href="https://twitter.com/fxrnands/"><span class="fab fa-twitter"></span></a>
                  <a class="social-media-icon" href="https://www.instagram.com/fxrnxnds/"><span class="fab fa-instagram"></span></a>
                  <a class="social-media-icon" href="https://www.linkedin.com/in/fxrnands/"><span class="fab fa-linkedin"></span></a>
                </div>
              </div>
            </div>
            <div class="bagian-kanan">
              <div class="card-nama">
                <img src="assets/images/foto-pribadi.jpg" alt="foto orang" style="width: 100%; border: 1px solid whitesmoke; border-radius: 5px;" />
                <h1 style="font-size: 20px; font-family: Arial, Helvetica, sans-serif; margin-top: 10px;">M. Fernanda Kholil Jibron</h1>
                <h3 style="font-family: arial; font-size: 15px;">Fullstack Developer</h3>
              </div>
            </div>
          </section>
          </div>

      <div class="isi-konten">
      <hr class="line" />
      <h1 class="judul-my-project" >MY PROJECT</h1>
      {{#each dataProject}}
      <div class="blog-list">
        <div class="blog-list-item">
          <div>
            <img class="blog-image" src="https://img.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg?w=826&t=st=1660416579~exp=1660417179~hmac=4c3f426651143bef7785e324ebec6c54da921120957f34e971e7559de48dacee" alt="" />
          </div>
          <div class="blog-content">
            <div class="judul-blog">
              <a class="judul-pasar-coding" href="/detailblog/{{@index}}" target="_blank"
                >{{this.title}}</a
              >
            </div>
            <div class="detail-blog-content">
              Durasi : {{this.duration}} | {{this.author}}
            </div>
            <p class="card-text">
              {{this.description}}
            </p>
          </div>
          
          <div class="logo-blog">
            <i class="fa-brands fa-{{this.react}}"></i>
            <i class="fa-brands fa-{{this.node}}"></i>
            <i class="fa-brands fa-{{this.ts}}"></i>
            <i class="fa-brands fa-{{this.next}}"></i>
          </div>
          
          <div class="btn-group">
              <a href="/edit-blog/{{@index}}" class="btn-post">Edit Post</a>
              <button type="button" class="btn-edit" data-bs-toggle="modal" data-bs-target="#exampleModal">
               Delete Blog
              </button>
          </div>
          <!-- Button trigger modal -->
          

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">BENERAN MAU DI HAPUS?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn-post" data-bs-dismiss="modal">Close</button>
                  <a href="/delete-blog/{{@index}}" class="btn-post">Delete Blog</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>